:root
{
    --background: white;
    --background_dark: black;
    --text: black;
    --text_dark: white;
    --note: yellow;
    --new_note: lightgreen;
    --button: #e1e1e1;
    --button_hover: #ededed;
	--delete_button: red;
	--add_button: green;
    --search_bar: rgb(233, 233, 233);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: var(--background_dark);
}

.dark-mode h1 {
	color: var(--text_dark);
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: var(--new_note);
}

textarea {
	border: none;
	resize: none;
	background-color: var(--new_note);
}

textarea:focus {
	outline: none;
}

.save {
	background-color: var(--button);
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: var(--button_hover);
	cursor: pointer;
}

.delete-note {
	background-color: var(--delete_button);
}

.add-note {
	background-color: var(--add_button);
}

.note {
	background-color: var(--note);
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	background-color: var(--search_bar);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: var(--search_bar);
	width: 100%;
}

.search input:focus {
	outline: none;
}